<html>
<head>

    <title><%=title%></title>

</head>
<body>
<h2>Hello page add book</h2>
    <form method="post" action="/books/addbooks">
        Title :<input type="text" name="inputTitle">
        Author :<input type="text" name="inputAuthor">
        Publisher :<input type="text" name="inputPublisher">
        Price :<input type="text" name="inputPrice">
        <input type="submit" name="submit" value="Save">
    </form>
</body>

</html>
